@model ShoppingCart

<form method="post">
    <input hidden asp-for="ProductId" />
    <div class="single-product">
        <div class="container">
            <div class="wrapper">
                <div class="breadcrumb">
                    <ul class="flexitem">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">@Model.Product.Category.Name</a></li>
                        <li>@Model.Product.Title</li>
                    </ul>
                </div>
                <!-- breadcrumb -->

                <div class="column">
                    <div class="products one">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item is_sticky">
                                    <div class="big-image">
                                        <div class="image-show ">
                                            <img src="@Model.Product.ImageUrl" alt="">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="item">
                                    <h1>@Model.Product.Title</h1>
                                    <div class="content">

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <a href="#" class="mini-text">2,251 reviews</a>
                                            <a href="#" class="add-review mini-text">Add Your Review</a>
                                        </div>
                                        <div class="price">
                                            <span class="current">$@Model.Product.CurrentPrice</span>
                                            <span class="normal">$@Model.Product.Price</span>
                                        </div>
                                        @*<div class="sizes">
                                            <p>Size</p>
                                            <div class="variant">
                                                <p>
                                                    <input type="radio" name="size" id="size-40">
                                                    <label for="size-40" class="circle"><span>40</span></label>
                                                </p>
                                                <p>
                                                    <input type="radio" name="size" id="size-41">
                                                    <label for="size-41" class="circle"><span>41</span></label>
                                                </p>
                                                <p>
                                                    <input type="radio" name="size" id="size-42">
                                                    <label for="size-42" class="circle"><span>42</span></label>
                                                </p>
                                                <p>
                                                    <input type="radio" name="size" id="size-43">
                                                    <label for="size-43" class="circle"><span>43</span></label>
                                                </p>
                                            </div>
                                        </div>*@
                                        <div class="actions">
                                            <div class="qty-control flexitem">
                                                <div id="decrement" class="btn circle"><span>-</span></div>
                                                <input class="p-0" asp-for="Count" type="text" id="value" value="1">
                                                <div id="increment" class=" btn circle"><span>+</span></div>
                                            </div>
                                            <div class="button-cart"><button type="submit" class="primary-button">Add to cart</button></div>
                                        </div>
                                        <div class="description collapse">
                                            <ul>
                                                <li class="has-child expand">
                                                    <a href="#0" class="icon-small">Information</a>
                                                    <ul class="content">
                                                        <li><span>Brands</span><span>@Model.Product.Brand</span></li>
                                                        <li><span>Category</span><span>@Model.Product.Category.Name</span></li>
                                                        <li><span>Gender</span><span>@Model.Product.Gender</span></li>
                                                    </ul>
                                                </li>
                                                <li class="has-child">
                                                    <a href="#0" class="icon-small">Details</a>
                                                    <div class="content">
                                                        <p>@Html.Raw(Model.Product.Description)</p>
                                                    </div>
                                                </li>
                                                <li class="has-child">
                                                    <a href="#0" class="icon-small">Custom</a>
                                                    <div class="content">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>Size</th>
                                                                    <th>Bust <span class="mini-text">(cm)</span></th>
                                                                    <th>Waist <span class="mini-text">(cm)</span></th>
                                                                    <th>Hip <span class="mini-text">(cm)</span></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>XS</td>
                                                                    <td>82,5</td>
                                                                    <td>62</td>
                                                                    <td>87,5</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>S</td>
                                                                    <td>85</td>
                                                                    <td>63,5</td>
                                                                    <td>89</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>M</td>
                                                                    <td>87,5</td>
                                                                    <td>67,5</td>
                                                                    <td>93</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>L</td>
                                                                    <td>90</td>
                                                                    <td>72,5</td>
                                                                    <td>98</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>XL</td>
                                                                    <td>93</td>
                                                                    <td>77,5</td>
                                                                    <td>103</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>